/* @override http://localhost/wp-content/themes/kaytwo/css/rollingarchives.css */

#rollingarchives,
#nested_rollingarchives {
	position: relative;
	padding: 5px 0 0;
	margin: 0 0 10px;
	}

body.trimmed .hentry {
	background: #eee;
	}

body.trimmed .hentry.alt {
	background: transparent;
	}
	
#rollingarchives a,
#nested_rollingarchives a {
	color: #888;
	}

#rollingarchives a:hover,
#nested_rollingarchives a:hover {
	text-decoration: underline;
	}

#rollnavigation,
#nested_rollnavigation {
	padding: 4px;
	}

#rollprevious, #rollnext, #rollpages, #rollload,
#nested_rollprevious, #nested_rollnext, #nested_rollpages, #nested_rollload {
	position: absolute;
	width: 50px;
	padding: 7px 5px;
	top: 3px;
	text-align: center;
	}

#rollhome,
#nested_rollhome {
	display: none;
	margin-bottom: 5px;
	}

#rollload,
#nested_rollload {
	right: 45px;
	padding-left: 24px;
	background: url('../images/spinner.gif') no-repeat left center;
	z-index: 10;
	width: 50px;
	text-align: left;
	}

#rollpages,
#nested_rollpages {
	width: 90px;
	left: 40px;
	color: #777;
	}

#rollprevious,
#nested_rollprevious {
	left: 0;
	text-align: left;
	}

#rollnext,
#nested_rollnext {
	right: 0;
	text-align: right;
	}

#rollingarchives a.inactive, #rollingarchives a.inactive:hover,
#nested_rollingarchives a.inactive, #nested_rollingarchives a.inactive:hover {
	visibility: hidden;
	text-decoration: none !important;
	background-color: transparent !important;
	color: #bbb;
	cursor: default;
	}

#rollnotices,
#nested_rollnotices {
	padding: 7px;
	text-align: center;
	border-top: 1px solid #f3f3f3;
	display: none;
	}

#rollnotices a,
#nested_rollnotices a {
	color: #227EE9;
	}

#rollnotices img,
#nested_rollnotices img {
	float: right;
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin-right: 5px;
	background: url('../images/reset-fff.gif') no-repeat center center;
	}

#pagetrackwrap,
#nested_pagetrackwrap {
	margin: -1px auto 0;
	width: 230px;
	height: 16px;
	background: url('../images/sliderbgleft.png') no-repeat 5px center;
	}

#pagetrack,
#nested_pagetrack {
	height: 16px;
	background: url('../images/sliderbgright.png') no-repeat right center;
	}

#pagehandle,
#nested_pagehandle,
#trimmerhandle,
#nested_trimmerhandle {
	width: 18px;
	height: 18px;
	margin-left: 2px;
	background: url('../images/sliderhandle.png') no-repeat center center;
	cursor: col-resize;
	}

#trimmer,
#nested_trimmer {
	position: absolute;
	top: 10px;
	right: 60px;
	width: 60px;
	height: 16px;
	}

#trimmertrackwrap,
#nested_trimmertrackwrap {
	margin: -2px auto 0;
	background: url('../images/sliderbgleft.png') no-repeat 5px center;
	}

#trimmertrack,
#nested_trimmertrack {
	height: 16px;
	background: url('../images/sliderbgright.png') no-repeat right center;
	}

#trimmerhandle,
#nested_trimmerhandle {
	width: 18px;
	height: 18px;
	margin-left: 2px;
	background: url('../images/sliderhandle.png') no-repeat center center;
	cursor: col-resize;
	}
	
#trimmerMore, #nested_trimmerMore,
#trimmerLess, #nested_trimmerLess {
	display: none;
	}
	
#trimmerShortcuts, #nested_trimmerShortcuts {
	display: none;
	}