#rollingarchives, #nested_rollingarchives {
	margin: 0 0 3em;
	position: relative;
	display: block;
	}

#rollingarchives a:hover, #nested_rollingarchives a:hover {
	text-decoration: underline;
	}

#rollnavigation, #nested_rollnavigation {
	position: relative;
	}

#rollprevious, #nested_rollprevious,
#rollnext, #nested_rollnext,
#rollload, #nested_rollload,
#rollhome, #nested_rollhome,
#rollpages, #nested_rollpages,
#rolldates, #nested_rolldates {
	position: absolute;
	top: 4px;
	}

#rollprevious:hover, #nested_rollprevious:hover,
#rollnext:hover, #nested_rollnext:hover,
#rollhome:hover, #nested_rollhome:hover {
	text-decoration: underline;
	cursor: pointer;
	}

#rollhome, #nested_rollhome {
	left: 54px;
	background: url('../images/house.png') no-repeat center center;
	width: 16px;
	height: 16px;
	}

#rollload, #nested_rollload {
	right: 54px;
	background: url('../images/spinner.gif') no-repeat center center;
	width: 16px;
	height: 16px;
	}

#rollload span, #nested_rollload span,
#rollhome span, #nested_rollhome span {
	display: none;
	}

#rollpages, #nested_rollpages,
#rollnext, #nested_rollnext,
#rollprevious, #nested_rollprevious,
#rolldates, #nested_rolldates {
	color: #888;
	}

#rollpages, #nested_rollpages,
#rolldates, #nested_rolldates {
	top: 20px;
	width: 100px;
	text-align: center;
	}

#rollpages, #nested_rollpages {
	right: 88px;
	}

#rolldates, #nested_rolldates {
	left: 88px;
	}

#rollprevious, #nested_rollprevious {
	left: 0;
	width: 50px;
	text-align: left;
	}

#rollnext, #nested_rollnext {
	right: 0;
	width: 50px;
	text-align: right;
	}

#rollnotices, #nested_rollnotices {
	padding: 7px;
	text-align: center;
	border-top: 1px solid #f3f3f3;
	}

#rollnotices a, #nested_rollnotices a {
	color: #227EE9;
	}

#rollnotices img, #nested_rollnotices img {
	float: right;
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin-right: 5px;
	background: url('../images/reset-fff.gif') no-repeat center center;
	}

.emptypage #rollnavigation, .emptypage #nested_rollnavigation {
	visibility: hidden;
	}

.firstpage #rollprevious, .firstpage #nested_rollprevious {
	visibility: visible;
	}

.firstpage #rollnext, .firstpage #nested_rollnext,
.firstpage #rollhome, .firstpage #nested_rollhome {
	visibility: hidden;
	}

.nthpage #rollnext, .nthpage #nested_rollnext,
.nthpage #rollprevious, .nthpage #nested_rollprevious,
.nthpage #rollhome, .nthpage #nested_rollhome {
	visibility: visible;
	}

.lastpage #rollnext, .lastpage #nested_rollnext,
.lastpage #rollhome, .lastpage #nested_rollhome {
	visibility: visible;
	}

.lastpage #rollprevious, .lastpage #nested_rollprevious {
	visibility: hidden;
	}

#pagetrackwrap, #nested_pagetrackwrap {
	margin: 0 auto 2em;
	background: url('../images/sliderbgright.png') no-repeat right center;
	height: 18px;
	padding-right: 4px;
	width: 200px;
	}

#pagetrack, #nested_pagetrack {
	background: url('../images/sliderbgleft.png') no-repeat left center;
	}

#pagehandle, #nested_pagehandle {
	width: 18px;
	height: 18px;
	background: url('../images/sliderhandle.png') no-repeat center center;
	cursor: col-resize;
	}

#primarycontent, #nested_primarycontent {
	clear: both;
	}

div.trimmed .hentry {
	background: #eee;
	}

div.trimmed .hentry.alt {
	background: transparent;
	}

#texttrimmer, #nested_texttrimmer {
	position: relative;
	width: 100px;
	float: left;
	}

#rollnavigation, #nested_rollnavigation {
	margin-left: 120px;
}

/*
.firstpage #pagetrackwrap, .firstpage #nested_pagetrackwrap {
	visibility: hidden;
	}

.nthpage #pagetrackwrap, .nthpage #nested_pagetrackwrap {
	visibility: visible;
	}

.firstpage #texttrimmer, .firstpage #nested_texttrimmer {
	visibility: hidden;
	}

.nthpage #texttrimmer, .nthpage #nested_texttrimmer {
	visibility: visible;
	}
*/

#trimmertrackwrap, #nested_trimmertrackwrap {
	margin: 0 auto 2em;
	background: url('../images/sliderbgright.png') no-repeat right center;
	height: 18px;
	padding-right: 4px;
	width: 50px;
	}

#trimmertrack, #nested_trimmertrack {
	background: url('../images/sliderbgleft.png') no-repeat left center;
	}

#trimmerhandle, #nested_trimmerhandle {
	width: 18px;
	height: 18px;
	background: url('../images/sliderhandle.png') no-repeat center center;
	cursor: col-resize;
	}

#trimmermore, #nested_trimmermore,
#trimmerless, #nested_trimmerless {
	position: absolute;
	top: 2px;
	height: 16px;
	width: 16px;
	}

#trimmermore span, #nested_trimmermore span,
#trimmerless span, #nested_trimmerless span {
	display: none;
	}

#trimmermore:hover, #nested_trimmermore:hover,
#trimmerless:hover, #nested_trimmerless:hover {
	cursor: pointer;
	}

#trimmermore, #nested_trimmermore {
	right: 0;
	background: url('../images/trim_more.png');
	}

#trimmerless, #nested_trimmerless {
	left: 0;
	background: url('../images/trim_less.png');
	}
