/* @override http://localhost/wp-content/themes/kaytwo/css/sbm.css */

/* CSS for the Sidebar Manager page */

#parentwrapper {
	font-family: Helvetica, Arial, Sans-Serif;
	position: relative;
	width: 100%;
	}

#parentwrapper a {
	border: none;
	}

h2 {
	display: none;
	position: absolute;
	top: 13px;
	left: 10px;
	font: 20px Helvetica, Arial, Sans-Serif;
	color: #777;
	background: none;
	}

.wrap {
	position: relative;
	padding: 1px 0 0 10px;
	background: #eee url('../images/sbmmanager/sbmbg.png') repeat-x;
	min-width: 700px;
	min-height: 520px;
	height: 430px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	z-index: 10;
}

#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 600;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	filter: alpha(opacity = 0);
	display:none;
	}

.sbmheader {
	height: 55px;
	}

.droppable, #availablemodulescontainer ul {
	margin: 0 8px 0 9px;
	}

.wrap ul {
	padding: 0 0 10000px; /* Make sure columns stretch to the bottom */
	}

h3 {
	margin: 10px 0 20px;
	font-size: 1.4em;
	line-height: 40px;
	font-weight: normal;
	text-align:center;
	color: #333;
	}

.backuprestore {
	position: absolute;
	top: 18px;
	left: 25px;
	text-transform: lowercase;
	font-size: 10px;
	line-height: 19px;
	width: 139px;
	}

.backuprestore a {
	color: #eee;
	}

#backupsbm, #restoresbm {
	position: absolute;
	width: 67px;
	text-align: center;
	}

#backupsbm {
	padding-left: 3px;
	background: url('../images/sbmmanager/backuprestore.png') left top no-repeat;
	}

#backupsbm:hover {
	background-position: left bottom;
	}

#restoresbm {
	right: 0;
	padding-right: 3px;
	width: 66px;
	background: url('../images/sbmmanager/backuprestore.png') right top no-repeat;
	}

#restoresbm:hover {
	background-position: right bottom;
	}

#backupsbmwindow {
	position: absolute;
	top: 20px;
	left: 44px;
	background: url('../images/sbmmanager/restorepopupbg.png') left top no-repeat;
	padding: 5px;
	display: block;
	width: 340px;
	height: 50px;
	opacity: 0;
	filter: alpha(opacity = 0);
	}

#backupsbmwindow input[type=file] {
	position: absolute;
	left: 15px;
	top: 20px;
	color: #ddd;
	border: none;
	background: none;
	font-size: 11px;
	}

#backupsbmwindow button {
	font-size: 11px;
	position: absolute;
	right: 17px;
	top:21px;
	}

#undo {
	position: absolute;
	top: 18px;
	left: 200px;
	width: 120px;
	font-size: 10px;
	line-height: 19px;
	text-transform: lowercase;
	color: white;
	text-align: center;
	background: url('../images/sbmmanager/undo.png') left top no-repeat;
	display: none;
	outline: none;
	}

#undo span {
	position: absolute;
	top: 2px;
	right: 1px;
	width: 16px;
	line-height: 16px;
	font-size: 9px;
	background: url('../images/sbmmanager/buttoncircle.png') no-repeat;
	}

#do {
	outline: none;
	position: absolute;
	top: 18px;
	left: 350px;
	width: 120px;
	font-size: 10px;
	line-height: 19px;
	text-transform: lowercase;
	color: white;
	text-align: center;
	background: url('../images/sbmmanager/undo.png') left top no-repeat;
	}

#columnsform {
	right: 20px;
	top: 15px;
	position: absolute;
	border: default;
	background: default;
	}

#columnsform select {
	background-color: none;
	padding: 1px;
	width: 170px;
	}

	
/* Inside the column area */
	
.initloading {
	position: absolute;
	top: 220px;
	right: 50%;
	width: 300px;
	margin-right: -150px;
	text-align: center;
	text-transform: lowercase;
	font-size: 5em;
	color: #ccc;
	letter-spacing: 1px;
	}

.container {
	opacity: 0;
	filter: alpha(opacity = 0);
	width: 25%;
	max-width: 270px;
	min-width: 170px;
	float: left;
	}
	
#availablemodulescontainer, #sidebar-1container, #sidebar-2container {
	border-right: 1px solid #d8d8d8;
	margin-right: -1px;
	}

.darkenright {
	position: absolute;
	height: 100%;
	background: #999;
	opacity: 0;
	filter: alpha(opacity = 0);
	left: 1090px;
	width: 100%;
	border-left: 1px solid black;
	}

#trashcontainer {
	position: absolute;
	top: 1px;
	background: url('../images/sbmmanager/trashbg.png') right repeat-y;
	z-index: -10;
	padding: 0 12px 0 10px;
	margin-left: -10px;
	display: none;
}

.spinner, spinner:hover {
	background: white url('../images/spinner.gif') no-repeat center center;
	}


/* Modules Styling */

.module {
	position: static; /* ? */
	list-style-type: none;
	color: #eee;
	cursor: move;
	height: 35px; 
	background: url('../images/sbmmanager/modulebg-left.png') left top no-repeat;
	margin: 0 0 3px;
	}

.slidingdoor {
	position: relative;
	height: inherit;
	background: url('../images/sbmmanager/modulebg.png') right top no-repeat;
	margin-left: 5px;
	}

#disabled .module {
	opacity: .75;
	filter: alpha(opacity = 75);
	}

.module span {
	position: absolute;
	overflow: hidden;
	}

.modulewrapper {
/*	display: block; ? */
	height: inherit;
	width: 80%;
	}
	
#availablemodules .modulewrapper {
	height: 25px;
	}
	
#trash #sortHelper .modulewrapper {
	left: 25px;
	}

.module span.name {
	top: 6px;
	font: 12px Helvetica, Arial;
	line-height: 15px;
	display: block;
	}

.name, .croppedname {
	left: 1px;
	}

.type {
	top: 20px;
	left: 1px;
	font: 9px Helvetica, Arial;
	line-height: 10px;
	color: #999;
	}

.optionslink {
	position: absolute;
	top: 9px;
	right: 10px;
	height: 17px;
	width: 17px;
	background: url('../images/sbmmanager/optionsbutton.png') center top no-repeat;
	cursor: pointer;
	}	

.optionslink:hover {
	background: url('../images/sbmmanager/optionsbutton.png') no-repeat center bottom;
	}

.deletelink {
	position: absolute;
	top: 9px;
	right: 35px;
	height: 17px;
	width: 17px;
	background: url('../images/sbmmanager/deletebutton.png') center top no-repeat;
	cursor: pointer;
	opacity: .5;
	filter: alpha(opacity = 50);
	}	

.deletelink:hover {
	background: url('../images/sbmmanager/deletebutton.png') no-repeat center bottom;
	opacity: .9;
	filter: alpha(opacity = 90);
	}


/* Modules scheduled for deletion */
.trashed {
	display: list-item;
	height: 0;
	overflow: hidden;
	margin: 0;
	}

.trashed a {
	display: none;
	}


/* Available Modules */

.availablemodule {
	height: 25px;
	background: url('../images/sbmmanager/amodulebg-left.png') left center no-repeat;
	opacity: .6;
	filter: alpha(opacity = 60);
	}

.availablemodule .slidingdoor {
	background: url('../images/sbmmanager/amodulebg.png') right center no-repeat;
	}

.availablemodule:hover {
	opacity: .7;
	filter: alpha(opacity = 70);
	}


/* Marker Styling */

.marker {
	height: 35px;
	opacity: .15 !important;
	filter: alpha(opacity = 15) !important;
	}

.marker div * {
	display: none;
	}

.marker, .marker:hover {
	cursor: wait;
	}

.hovering {
	background: #f4f4f4;
}

#dragHelper {
	z-index: 10000;
	}

#dragHelper a {
	border: none;
	}

.selecthelper {
	background: #999;
	border: 1px dashed #333;
	}

.openoptions {
	padding: 1px 3px;
	margin: 0 0 0 auto;
	}


/* Options Window */

#optionswindow {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	font-size: .9em;
	color: #aaa;
	z-index: -1000;
	visibility: hidden; /* Make sure image are cached to avoid popping */
	}

#optionswindow table {
	border-collapse: collapse;
	}	

#optionswindow table td {
	vertical-align: top;
	}

.optt, .optb {
	height: 30px;
	}

.optl, .optr {
	width: 30px;
	}

.opttl {
	background: url('../images/sbmmanager/opttl.png') right bottom no-repeat;
	}

.optt {
	background: url('../images/sbmmanager/optt.png') bottom repeat-x;
	}

.opttr {
	background: url('../images/sbmmanager/opttr.png') left bottom no-repeat;
	}

.optl {
	background: url('../images/sbmmanager/optl.png') right repeat-y;
	top: 30px;
	left: 0px;
	height: 200px;
	}

.optr {
	background: url('../images/sbmmanager/optr.png') left repeat-y;
	}

.optbl {
	background: url('../images/sbmmanager/optbl.png') right top no-repeat;
	}

.optb {
	background: url('../images/sbmmanager/optb.png') top repeat-x;
	}

.optbr {
	background: url('../images/sbmmanager/optbr.png') left top no-repeat;
	}

.opttabs, .optcontents, .optbuttons {
	background: #ddd;
	}

.optcontents {
	position: relative;
	overflow: hidden;
	background: #ddd;
	}

#options {
	width: 400px;
	height: 270px;
	overflow: auto;
	}

.optbuttons {
	height: 30px;
	}

.optionsspinner {
	background: url('../images/spinner.gif') no-repeat center center !important;
	}

#optionswindow.optionsspinner .module-options-form {
	display: none;
	}

#optionswindow h2 {
	width: 100%;
	margin: 0;
}

#closelink {
	z-index: 1000;
	border: none;
	position: absolute;
	top: 10px;
	right: 7px;
	height: 30px;
	width: 30px;
	background: url('../images/sbmmanager/widget_close.png') no-repeat center center;
}

.tabbg {
	background: url('../images/sbmmanager/tabsbg.png') repeat-x bottom;
	height: 30px;
	width: 100%;
	position: relative;
	padding: 0 8px;
	margin-left: -8px;
}


#optionstab, #advancedtab, #displaytab {
	background: url('../images/sbmmanager/tabbg.png') no-repeat center bottom;
	border: none;
	outline: none;
	padding: 18px 10px 3px;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 90px;
	text-align: center;
	font-size: 11px;
}

#advancedtab {
	display: none;
	}

#displaytab-content legend {
	color: #333;
	font-size: 1.1em;
	line-height: 1.6em;
	font-weight: normal !important;
	}

#displaytab-content div {
	padding-bottom: 4px;
	}

#displaytab-content input {
	margin-left: 10px;
	}

#displaytab-content label {
	line-height: 1.6em;
	margin-left: 6px;
	}

.toggle-item {
	font-size: .8em;
	}

input[type=checkbox] {
	background: none;
	border: none;
	padding: 0;
	}
	
.checkbox-list {
	overflow: auto;
	list-style-type: none;
	padding: 3px 0;
	margin: 0;
	background: #e5e5e5;
	}

.checkbox-list li {
	margin: 0 0 0 40px;
	}

.checkbox-list input[type=checkbox] {
	margin: 3px 0 0 -20px !important;
	}

.checkbox-list label {
	padding: 2px;
	}

.checkbox-list label:hover {
	background: #ddd;
	}

.tools {
	position: relative;
	height: 20px;
	display: none;
	}

.checkoruncheck {
	display: inline;
	position: absolute;
	top: 3px;
	left: 10px;
	margin: 0;
	}

.showorhide {
	position: absolute;
	top: 6px;
	right: 0;
	margin: 0;
	display: inline;
	}

.showorhide input {
	margin: 0 !important;
	}

.showorhide label {
	margin: 0 10px 0 2px !important;
	}

#output-css-file {
	width: 390px;
	}

.selected {
	background: url('../images/sbmmanager/tabbgselected.png') no-repeat center bottom !important;
	color: #333 !important;
}

#optionstab {
	left: 5px;
	}

#advancedtab {
	left: 110px;
	}

#displaytab {
	left: 110px;
	}

#options label {
	color: #333;
	}

#options .defaultoptions {
	border-bottom: 1px solid #333;
	}

#name-container .titlelabel {
	display: block;
	}

#options #module-name {
	width: 280px;
	margin-right: 10px;
	padding: 3px;
}

#options textarea {
	width: 392px;
	}

#about-module-blurp {
	height: 160px;
	}

#php-module-code {
	height: 190px;
	}

#options #type-container {
	display: none;	
	color: #888;
	}

#options #type-container span {
	color: white;
	font-weight: bold;
	margin-right: 10px;
	}

#advancedtab-content, #displaytab-content, #module-update-success, #module-update-error {
	display: none;
	}

.submitbuttons {
	position: absolute;
	bottom: 33px;
	right: 35px;
	margin: 0;
}

.submitbuttons input {
	padding: 5px;
	}

.optionkeys { /* Not being used currently */
	position: absolute;
	bottom: 7px;
	left: 15px;
	font-size: 9px;
	color: #444;
	}


/* Misc. */

#msg { /* Not being used currently */
	position: absolute;
	top: 13px;
	left: 50%;
	margin: 0 0 0 -200px;
	text-align: center;
	width: 400px;
	padding: 5px 10px;
	background-color: #D3E66C;
	border: 1px solid #B1C05A;
	color: #292929;
	font-size: 12x;
	}

.loader {
	background: white url('../images/spinner.gif') no-repeat 5px 4px;
	}
	
.helptext {
	font-size: .85em;
	line-height: 3em;
	color: #999;
	}

#error {
	display: none;
	}
	
#footer {
	display: none; /* WP footer is cramping our style... */
	}