/* @override http://localhost/wp-content/themes/kaytwo/css/sbm.css */

h2 {
	border: 0;
	font: 1.6em Helvetica, Arial, Verdana, Sans-Serif;
	color: #777;
	margin: 16px 20px 12px;
	width: 220px;
	float: left;
	background: none;
	}

.wrap {
	background: #eee url('../images/sbmmanager/sbmbg.png') repeat-x;
	min-width: 800px;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #ddd;
}

.container {
	width: 230px;
	float: left;
	padding: 0 10px;
	border-right: 1px solid #ddd;
}

#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -100;
	width: 100%;
	height: 100%;
	background-color: #000000;
	display:none;
	opacity: 0
	}

h3 {
	text-align:center;
	margin-bottom: 0;
	}

#columnsform {
	right: 20px;
	top: 15px;
	position: absolute;
	}

#columnsform select {
	background-color: none;
	padding: 1px;
	width: 170px;
	}

#trashcontainer {
	border: none;
}

.wrap ul {
	padding: 0;
	min-height: 400px;
}

.wrap li, #sortHelper, #dragHelper {
	list-style-type: none;
	font-size: 12px;
}

#dragHelper {
	-webkit-box-shadow: #333 0px 1px 5px;
}

span.id {
	display: none;
	}

.spinner, spinner:hover {
	background: white url('../images/spinner.gif') no-repeat center center;
	}
	
.availablemodule, .module, #trashcontainer .sorthelper {
	background: #222;
	color: white;
	padding: 4px;
	margin: 5px 0;
	cursor: move;
	z-index: 500;
	border: 0;
	}

.module div {
	position: relative;
	}

.name, .croppedname {
	white-space: pre;
	}

#disabled .module {
	background: #999;
	}

#disabled .module span {
	color: white;
	}

.module .type, .sorthelper .type {
	display: block;
	font-size: .75em;
	line-height: 1.2em;
	color: #999;
	}

.marker, .sorthelper, .marker:hover, .sorthelper:hover {
	color: #fff;
	background: #999 !important;
	padding: 4px;
	margin: 5px 0;
	cursor: wait;
	}

.marker .type, .sorthelper .type {
	color: #fff !important;
	}

.availablemodule:hover, .module:hover {
	background: black;
	}

.hovering {
	background: #ddd !important;
}

.marker .type {
	color: #999;
	} 

.selecthelper {
	background: #999;
	border: 1px dashed #333;
	}

#trash {
	}

.openoptions {
	background: red;
	padding: 1px 3px;
	margin: 0 0 0 auto;
	}

.optionslink {
	border: 0;
	background: url('../images/sbmmanager/optionsbutton.png') no-repeat center top;
	display: block;
	height: 17px;
	width: 17px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	right: 3px;
	cursor: pointer;
	}	

.optionslink:hover {
	background: url('../images/sbmmanager/optionsbutton.png') no-repeat center bottom;
	}

#optionswindow {
	position: fixed;
	display: none;
	background: #ddd;
	padding: 10px;
	-webkit-box-shadow: #111 0px 1px 40px;
	}

.opttl, .optt, .opttr, .optl, .optr, .optbl, .optb, .optbr {
	position: absolute;
	height: 30px;
	z-index: -1;
	}

.opttl, .opttr, .optl, .optr, .optbl, .optbr {
	width: 30px;
	}

.opttl {
	background: url('../images/sbmmanager/opttl.png') no-repeat;
	top: -29px;
	left: -29px;
	}

.optt {
	background: url('../images/sbmmanager/optt.png') repeat-x;
	top: -30px;
	left: 0;
	width: 100%;
	}

.opttr {
	background: url('../images/sbmmanager/opttr.png');
	top: -30px;
	right: -30px;
	}

.optl {
	background: url('../images/sbmmanager/optl.png') repeat-y;
	top: 0px;
	left: -30px;
	height: 100%;
	}

.optr {
	background: url('../images/sbmmanager/optr.png') repeat-y;
	top: 0px;
	right: -30px;
	height: 100%;
	}

.optbl {
	background: url('../images/sbmmanager/optbl.png') no-repeat;
	bottom: -30px;
	left: -30px;
	}

.optb {
	background: url('../images/sbmmanager/optb.png') repeat-x;
	bottom: -30px;
	left: 0;
	width: 100%;
	}

.optbr {
	background: url('../images/sbmmanager/optbr.png');
	bottom: -30px;
	right: -30px;
	}


.optionsspinner {
	background: #ddd url('../images/spinner.gif') no-repeat center center !important;
	}

#optionswindow.optionsspinner .module-options-form {
	display: none;
	}

#optionswindow h2 {
	width: 100%;
	margin: 0;
}

#closelink {
	border: none;
	position: absolute;
	top: -21px;
	right: -24px;
	height: 30px;
	width: 30px;
	background: url('../images/sbmmanager/widget_close.png') no-repeat center center;
}

.tabbg {
	background: url('../images/sbmmanager/tabsbg.png') repeat-x bottom;
	height: 30px;
	width: 434px;
	position: relative;
	left: -17px;
	top: -10px;
}

#optionstab, #advancedtab, #displaytab {
	background: url('../images/sbmmanager/tabbg.png') no-repeat center bottom;
	border: none;
	padding: 18px 10px 3px;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 90px;
	text-align: center;
	font-size: 11px;
}

#output-css-file {
	width: 400px;
	}

.selected {
	background: url('../images/sbmmanager/tabbgselected.png') no-repeat center bottom !important;
	color: #333 !important;
}

#optionstab {
	left: 5px;
	}

#advancedtab {
	left: 110px;
	}

#displaytab {
	left: 215px;
	}

#optionswindow {
	font-size: .9em;
	color: #aaa;
}

#options label {
	color: #333;
	}

#options .defaultoptions {
	border-bottom: 1px solid #333;
	}

#name-container .titlelabel {
	display: block;
	}

#options #module-name {
	width: 280px;
	margin-right: 10px;
	padding: 3px;
}

#options textarea {
	width: 392px;
	}

#options #type-container {
	display: none;	
	color: #888;
	}

#options #type-container span {
	color: white;
	font-weight: bold;
	margin-right: 10px;
	}

#advancedtab-content, #displaytab-content, #module-update-success, #module-update-error {
	display: none;
	}

.submitbuttons {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.submitbuttons input {
	padding: 2px
	}

.optionkeys {
	position: absolute;
	bottom: 7px;
	left: 15px;
	font-size: 9px;
	color: #444;
	}

#parentwrapper {
	position: relative;
	}

#msg {
	position: absolute;
	top: 13px;
	left: 50%;
	margin: 0 0 0 -200px;
	text-align: center;
	width: 400px;
	padding: 5px 10px;
	background-color: #D3E66C;
	border: 1px solid #B1C05A;
	color: #292929;
	font-size: 12x;
	}

.loader {
	background: white url('../images/spinner.gif') no-repeat 5px 4px;
	}
	
form#dofollow {
	position: absolute;
	top: 16px;
	right: 10px;
	}

form#dofollow select {
	width: 150px;
	}
