/*
	Style Name	: Dueling Sidebars
	Style URI	: http://getk2.com/
	Version		: 1.0
	Author Name	: K2 Team
	Author Site : http://getk2.com/
	Comments	: Sidebars on both sides of content
	Tags		: layout
*/


body.columns-three #primary {
	margin-left: 195px;
}

body.columns-three #sidebar-1 {
	position: relative;
	left: -520px;
	margin-left: -195px;
}

body.columns-three .template-image #primary {
	margin-left: 0;
}