/*
	CSS files kept in the 'schemes' directory can be used to
	costumize your K2 installation without having to mess
	with the core K2 files. This in turn makes it easier to
	upgrade to new K2 version as well as debug any problems
	that might occur.

	You select schemes from the K2 Options page in the
	'Presentation' section of your WordPress administration.
	
	Author Name	:
	Author Site	:
	Style Name	:
	Style URI	:
	Version		:
	Comments	:
*/

#page {
	/* The entire design is contained within the 'page' id */
	}
	
#header {
	/* Contains the H1 and menu */
	}
	
.primary {
	/* Contains the main column */
	}

.hentry {
	/* Each entry is contained within the 'hentry' class */
	}

.entry-content {
	/* The meat and potatoes of every entry */
	}

.secondary {
	/* Contains the sidebar */
	}

