/*
	Author		: K2 Team
	Author URI	: http://getk2.com/
	Style Name	: Split Sidebars
	Style URI	: http://getk2.com/
	Version		: 1.1
	Description	: Sidebars on both sides of content
*/


body.columns-three #primary {
	margin-left: 195px;
	}

body.columns-three #widgets-sidebar-1 {
	position: relative;
	left: -520px;
	margin-left: -195px;
	}

/* Webkit doesn't retain the position of the left-shifted searchform properly */
body.webkit.smartposition #widgets-sidebar-1 div.widget_search:first-child #searchform {
	margin-left: -520px;
	}

body.columns-three .template-image #primary {
	margin-left: 0;
	}

body.columns-three #rollingarchivesbg {
	margin-left: -225px;
	}